
<header ng-class="{false: 'body-pushed'}[main.pushmenu]">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="#">PRINiT</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><%= link_to('Home', root_path) %></li>
            <li><a href="#">Buy</a></li>
            <li><a href="#">Discover</a></li>
          </ul>
          
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to('Sign Up', new_user_session_path) %></li>
            <!-- <li><a ng-click="main.pushmenu = !main.pushmenu">Log In</a>
            </li>  -->
            <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li> 
            <li><%= link_to('Log In', new_user_session_path)  %></li> 
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
</header>