    
<nav class="push-menu" ng-class="{true: 'pushed-menu'}[main.pushmenu]">

    <div><p>Sessions Controller put in ng-controller style and render the sign in</p></div>
    <h2>Log in</h2>

 

  
</nav>
