<div class="home-container">

    <div class="jumbotron">
      <div class="container">
        <h1 id="jumbotron-text">Prinit</h1>
        <p class="jumbotron-text">Create Canvas Prints Of Your Photos | Discover Buy New Works Of Art</p>

      <%= link_to('Discover', posts_path, class: "btn btn-primary btn-lg jumbotron-text") %>
      </div>
    </div>

    
  
      
      <h1>{{ 3 + 3 }}</h1>
     
    

  

</div>



