<div class="home-container">

    <div class="jumbotron">
      <div class="container jumbotron-text">
        <h1>Prinit</h1>
        <p>Create Canvas Prints Of Your Photos | Discover and Buy New Works Of Art</p>

      <%= link_to('Discover', posts_path, class: "discover-btn btn btn-lg") %>
      </div>
    </div>

    
  
      
     
    

  

</div>



