<div class="container cart-add text-center">

  <h1>Canvas Added to Cart!</h1>

  <br>
 


  <%= link_to "Find more works of art to add to your Cart", posts_path, class: "btn btn-info" %>
  <h4>Or you can proceed to...</h4>

  <%= link_to 'Check Out', new_charge_path, class: 'btn btn-success' %>

</div>