<div class="container masonry-container indexcont" ng-mouseenter="main.tileSize(); main.imgArrayFunc(); main.testFunc()">
<h1>Discover + Print</h1>
{{4 + 4}} 
 

<h2><%= link_to('Upload new images', new_post_path) %></h2>



      <!-- user posts -->
      <% @posts.each do |post| %>
      <% if post.public == true %>
            <div class="imgDiv">
              <%= link_to image_tag(post.image.url(:tile), class: "indexImg"), post %>
             
              
            </div>
        <% end %> 
      <% end %>  
  <%= image_tag 'http://lorempixel.com/output/nightlife-q-c-640-480-6.jpg' %>
 
   
</div>