<div class="container indexcont center-block" ng-mouseenter="main.tileSize(); main.imgArrayFunc(); main.testFunc()">
<h1 class="text-center post-index-title">Discover + Print</h1>
{{4 + 4}} 
 




<div class="text-center masonry-container center-block">
<h3><%= link_to('Add something new', new_post_path) %></h3>
      <!-- user posts -->
      <div class="user-post-div">
          <% @posts.each do |post| %>
          <% if post.public == true %>
                <div class="imgDiv">
                  <%= link_to image_tag(post.image.url(:post_thumbnail), class: "indexImg center-block"), post  %>
                 
                  
                </div>
            <% end %> 
          <% end %>  
      </div>
</div>
   
</div>