/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require 'masonry/transitions'
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";


// Distance
$pushed: 90%;
$header-height: 60px;
$max-width: 100%;


.indexcont
{
  border: 1px solid black;
}

.imgDiv 
{
  position: relative;
  display: inline-block;

}

.max-height
{
  min-height: 100%;
}

.max-width
{
  width: $max-width;
}

.top-layer
{
  z-index: 10;
}


// HTML & Body

#view-container
{
 padding: 0;
}

.notice, .alert 
{
  margin: 0;
}




img {
  .post-title 
  {
    display: inline-block;
    position: relative;
    top: -50px;
  }
}

// individual post style


.size-buttons-div 
{
  width: 550px;
}

.size-button
{
  margin-top: 5px;
}

.canvas-price 
{
  text-align: center;
}

.addToCartFormDiv {
  text-align: center;
  width: auto;
}

.form-group 
{
  margin: 0 auto;
}

.jumbotron 
{
 background: none;
}

.home-container 
{
 
 // -webkit-background-size: cover;
 // -moz-background-size: cover;
 // -o-background-size: cover;
 // background-size: cover;
 // margin: 20px 0 0 0;
 // height: 700px;
 position: fixed; 
 top: 0; 
 right: 0; 
 bottom: 0; 
 left: 0; 
 z-index: 2;
 background: url('Blank-Canvas.jpg') no-repeat;
 background-size: 100% auto;
 opacity: 1;


}

// Header | navbar styling

.navbar 
{
  margin-bottom: 0;
}

.upload-icon
{
  height: 25px;
  width: auto;
}

// .jumbotron-text
// {
//   color: white;
// }

// #jumbotron-text
// {
//   color: white;
// }



