/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require 'masonry/transitions'
 *= require_tree .
 *= require_self
 */

// First set or import your overrides


// Then load variables




@import "bootstrap-sprockets";
@import "bootswatch/yeti/variables";
@import "bootstrap";
@import "bootswatch/yeti/bootswatch";


// Distance
$pushed: 90%;
$header-height: 60px;
$max-width: 100%;
$max-height: 100%;

// // // // // // // // // // // 

// HTML & Body styling

// // // // // // //
body { 
  padding-top: 60px;
  background: image-url('https://s3-us-west-1.amazonaws.com/prinitapp/backgrounds/high-res-school-of-athens.jpg');
  background-size: cover;
  background-repeat:  no-repeat;
  @media screen and (max-width: 1469px) {
    padding-top: 60px;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    background: image-url('https://s3-us-west-1.amazonaws.com/prinitapp/backgrounds/phone.jpg');
    background-size: cover;
    background-repeat:  no-repeat;
  }
}

// @media (min-width: @screen-sm-min) { ... }

// /* Medium devices (desktops, 992px and up) */
// @media (min-width: @screen-md-min) { ... }

// /* Large devices (large desktops, 1200px and up) */
// @media (min-width: @screen-lg-min) { ... }

#view-container
{
 margin-top: 100px;
}

.notice, .alert 
{
  position: relative;
  top: 40px;
}

.container 
{
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.alert
{
  // background: rgba(255, 255, 255, 0.6);
}
.notice
{
  // background: rgba(255, 255, 255, 0.6);
}

// // // // // // // // // // // 

// Home Page Styling

// // // // // // // 

.home-container 
{
  position: fixed; 
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0; 
  z-index: 2;
  background: image-url('https://s3-us-west-1.amazonaws.com/prinitapp/backgrounds/empty-canvas.jpg');
  background-repeat:  no-repeat;
  background-size: 100% auto;
  opacity: 1;
  @media screen and (max-width: 1148px) { 
    position: fixed; 
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0; 
    z-index: 2;
    background: image-url('https://s3-us-west-1.amazonaws.com/prinitapp/backgrounds/phone.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    opacity: 1;
  }
  .jumbotron 
  { 
    position: relative;
    top: 20em;
    margin: 0 0;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    background: none;
    .jumbotron-text 
    {
      position: relative;
      text-align: center;
      .discover-btn
      {
        background: none;
        color: black;
        border: 1px solid black;
      }
      .discover-btn:hover
      {
        background: black;
        color: white;
        border: 1px solid black;
      }
    }
  }
}



// Header | navbar styling
.header 
{
  background: none;
}

.navbar 
{
  margin-bottom: 0;
}

.navbar 
{
  margin-bottom: 0;
}

.navbar-link
{
  color: black;
}

// .upload-icon
// {
//   height: 25px;
//   width: auto;
// }

#nav-styles
{
  background: none;
  font-size: 1.1em;
  margin-top: 10px;
}

.collapse.navbar-collapse
{
   background: rgba(255, 255, 255, 0.6);
   padding-right: 1em;
   text-align: center;
}

.navbar-brand
{
  background-color: black;
  @media screen and (max-width: 800px) {
  margin-left: 20px;
  }
}
.navbar-header > a .navbar-brand:hover
{
  color: black;
  background: rgba(0, 0, 0, 0.85);
  display: inline-block;

}

.nav.navbar-nav li a {
  color: black;
  font-weight: 400;
}

.icon-bar
{
  background-color: black;
}

.container.indiv-post-container 
{
  background: rgba(255, 255, 255, 0.6);
  padding-top: 4em;
}



// // // // // // // 
    // post index styling
// // // // // // 

.container.text-center.center-block 
{
  background: rgba(255, 255, 255, 0.5);
}

.indexcont
{
  // border: 1px solid black;
  padding-left: 0;
  padding-right: 0;
}

.masonry-container
{
  max-width: 60%;
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
  padding-top: 0.5%;
}


.post-index-title
{
  position: relative;
}




.imgDiv 
{
  position: relative;
  display: inline-block;
  padding-right: 0.5%;
  padding-left: 0.5%;
  margin-bottom: 0.5%;
  max-width: 30%
}

.thumbnail-modal-trigger 
{
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.indexImg{
  @media screen and (max-width: 1200px) {
    max-width: 100%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-bottom: 1%
  }
}


.img-link
{
  list-style: none;
  margin: 0 auto;
}

.max-height
{
  min-height: 100%;
}

.max-width
{
  width: $max-width;
}

.top-layer
{
  z-index: 10;
}


// // // // // // // // // // // 

// index Slide modal & carousel styling

// // // // // // // 


.carouselSlide
{
  margin: 0 auto;
}

.modal
{
  background: rgba(0, 0, 0, 0.85);
}

.modal-header {
  background: rgba(0, 0, 0, 0.85);
}
.modal-dialogue
{
  background: rgba(0, 0, 0, 0.85);
}

.carousel-inner
{
  background: rgba(0, 0, 0, 0.85);
}

#modal-close 
{
  height: 50px;
  background-color: white;
  z-index: 1;
  position: relative;
  float: right;
}

#modal-body {
  background: rgba(0, 0, 0, 0.85);
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.clear-btn.slide-btn
{
  background: none;
  color: black;
  border: 1px solid white;
}
.clear-btn.slide-btn:hover
{
  background: black;
  color: white;
  border: 1px solid white;
}
#gly-div-left
{
  position: absolute;
  top: 50%;
  left: 5%;
}

#gly-div-right
{
  position: absolute;
  top: 50%;
  right: 6%;
  font-size: 4em;
}

#modal-placement
{
  position: relative;
  top: 13em;
}

.carousel-post-info
{
  text-decoration: none;
  color: white;
  font-size: 1em;
}
.carousel-post-info:hover
{
  text-decoration: none;
  color: black;
  font-size: 1em;
}






// // // // // // // // // // // 

// individual post style

// // // // // // // 

.container.indiv-post-container
{
  padding-bottom: 1em;
}

.canv-selection-div 
{
  max-width: 100%;
}

.size-button
{
  margin-top: 5px;
}

.canvas-price 
{
  text-align: center;
}

.addToCartFormDiv {
  text-align: center;
  width: auto;
}

.form-group 
{
  margin: 0 auto;
}
.clear-btn
{
  background: none;
  color: black;
  border: 1px solid black;
}
.clear-btn:hover
{
  background: black;
  color: white;
  border: 1px solid black;
}

.canv-select-btn
{
  background: black;
  color: white;
  border: 1px solid black;
}
.canv-select-btn:hover
{
  background: none;
  color: black;
  border: 1px solid black;
}

// .input-group.post-indiv
// {
//   @media screen and (max-width: 800px) {
//     float: left;

//   }
// }

// .rotate90 {
//     -webkit-transform: rotate(90deg);
//     -moz-transform: rotate(90deg);
//     -o-transform: rotate(90deg);
//     -ms-transform: rotate(90deg);
//     transform: rotate(90deg);
// }

// // // // // // // // // // // 

// create order items and checkout Styling

// // // // // // // 
.container.cart-add.text-center
{
  padding-top: 1em;
  background: rgba(255, 255, 255, 0.6);
  padding-bottom: 3em;
}

.container.checkout.center-block
{
  background: rgba(255, 255, 255, 0.6);
  padding-bottom: 3em;
}

.container.content-container.center-block.orders.text-center
{
  background: rgba(255, 255, 255, 0.6);
  padding-bottom: 3em;
}





// // // // // // // // // // // 

// User Show page Styling

// // // // // // // 

.container.post-show.text-center.center-block
{
  padding-top: 5%;
  padding-bottom: 5%;
}

.user-show-img
{
 max-width: 30%; 
}



.content-container
{
  max-width: 81%;
  margin: 0 auto;
}

.small-container
{
  max-width: 50%;
  display: inline-block;
}

.center-block.version
{
  max-width: 100%;
}

// // // // // // // // // // // 

// User sign-up and login page Styling

// // // // // // // 
.content-container.sign-up
{
  background: rgba(255, 255, 255, 0.6);
  width: 50%;
  padding-left: 5%;
  padding-top: 2.5%;
  padding-right: 5%;
  padding-bottom: 2.5%;
}

.col-xs-6.col-xs-offset-3
{
  background: rgba(255, 255, 255, 0.6);
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 1.5%;
}



