<div class="container content-container center-block orders text-center">
  
  <h2>Thanks, you paid <strong><%= number_to_currency((@order.total).to_f/100) %></strong>!</h2>

  <%= link_to "Discover More", posts_path, class: "btn btn-info btn-register btn-lg" %>

</div>